---
import Section from "../Section.astro"
import { education } from "@cv"
---

<Section title="Educación">
  <ul class="flex flex-col" >
    {
      education.map(
        ({ institution, startDate, endDate, area, summary }) => {
          const startYear = new Date(startDate).getFullYear()
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual"

          return (
            <li>
              <article>
                <header class="flex justify-between items-end">
                  <div>
                    <h3 class="font-bold mt-2 text-lg text-gray-500 lg:text-xl">{institution}</h3>
                    <p class="mt-2 font-semibold text-gray-400 lg:text-xl">{area}</p>
                  </div>
                  <div>
                      <time
                        class="text-gray-400 text-base min-w-25 cursor-default lg:text-xl" 
                        datetime={startDate}
                        data-title={startDate}>
                          {startYear}
                      </time>
                      {" - "}
                      <time
                        class="text-gray-400 text-base min-w-25 cursor-default lg:text-xl" 
                        datetime={endDate}
                        data-title={endDate}>
                          {endYear}
                      </time>
                  </div>
                </header>

                <footer>
                  <p class="mt-2 lg:text-xl">{summary}</p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
