---
import Section from "../Section.astro"

import { work } from "@cv"
---

<Section title="Experiencia laboral">
  <ul class="flex flex-col gap-4">
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }) => {
          const startYear = new Date(startDate).getFullYear()
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual"

          return (
            <li>
              <article>
                <header class="flex justify-between items-end">
                  <div>
                    <h3 class="font-bold mt-2 text-lg text-gray-500 lg:text-xl">{name}</h4>
                    <p class="mt-2 font-semibold text-gray-400 lg:text-xl">{position}</p>
                  </div>
                  <div>
                    <time
                      class="text-gray-400 text-base min-w-25 cursor-default lg:text-xl" 
                      datetime={startDate}
                      data-title={startDate}>
                        {startYear}
                    </time>
                    {" - "}
                    <time
                      class="text-gray-400 text-base min-w-25 cursor-default lg:text-xl" 
                      datetime={endDate}
                      data-title={endDate}>
                        {endYear}
                    </time>
                  </div>
                </header>

                <footer>
                  <p class="mt-2 lg:text-xl">{summary}</p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>

  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease-in-out 0.5s;
    visibility: visible;
  }

  [data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: .75rem;
    position: absolute;
    padding: .2rem .5rem;
    bottom: -1.4rem;
    left: 50%;
    white-space: nowrap;
    box-shadow: 1px 1px 1px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
  }

  [data-title] {
    position: relative;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
