---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import Mail from "@/icons/Mail.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import type { SocialIcon } from "@/types";

const {
  name,
  shortName,
  label,
  image,
  profiles,
  email,
} = basics;

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn
};
---

<Section>
  <div class="flex flex-col-reverse lg:flex-row items-center justify-between gap-4">
    <div class="flex flex-col items-center lg:items-start">
      <h1 class="flex font-bold text-4xl text-center font-sans">{shortName}</h1>
      <h2
        class="text-gray-400 text-balance text-lg mt-2"
      >
        {label}
      </h2>
      <footer class="text-gray-500 flex gap-3 mt-1">
        {
          email && (
            <a
              class="mt-1 text-slate-500 inline-flex items-center justify-center border-[1px] border-solid border-gray-200 p-1 w-12 h-12 rounded-md hover:bg-slate-100	hover:border-[1px] hover:border-solid hover:border-gray-200"
              href={`mailto:${email}`}
              title={`Enviar un correo a ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        {
          profiles.map(({ network, url }) => {
            const Icon = SOCIAL_ICONS[network];

            return (
              <a
                class="mt-1 text-slate-500 inline-flex items-center justify-center border-[1px] border-solid border-gray-200 p-1 w-12 h-12 rounded-md hover:bg-slate-100	hover:border-[1px] hover:border-solid hover:border-gray-200"
                href={url}
                title={`Visita mi ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure>
      <img
        class="w-36 h-36 p-1 object-cover rounded-full ring-2 ring-gray-500"
        src={image}
        alt={`Foto de perfil de ${name}`}
      />
    </figure>
  </div>
</Section>

<style>
  footer a {
    transition: all 0.3s ease;
  }
</style>
